.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Navbar-title{
  padding-left: 15px;
  float:left;
}

.Navbar-navbutton{
  float: right;
  padding-right: 15px;
}