body{
  background-image: url("./images/stormtrooper.jpg");
  height: 2000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  height: auto;
  padding: 20px;
  color: white;
}

.Navbar-title{
  padding-left: 15px;
  float:left;
}

.Navbar-navbutton{
  float: right;
  padding-right: 15px;
}

.Body-container{
  display: flex;
  flex-flow: column nowrap;
}

.Body-container a{
  color: white;
}

.content{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.ContentBox{
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.ContentFill{
  height: 200px;
  margin-top: 200px;
  margin-bottom: 200px;
}