body{
  background-color: #222;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.Navbar-title{
  padding-left: 15px;
  float:left;
}

.Navbar-navbutton{
  float: right;
  padding-right: 15px;
}

.Body-container{
  display: flex;
  flex-flow: row wrap;
  background-color: #222;
  color: white;
}

.Body-container a{
  color: white;
}

.content{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.ContentBox{
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}